
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bitcoin price prediction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }
        p {font-size: 16px;}
        .margin {margin-bottom: 45px;}
        .bg-1 {
            background-color: darkslategray;
            color: #ffffff;

        }
        .bg-3 {
            background-color: black;
            color: darkgoldenrod;
        }
        .bg-4 {
            background-color: #2f2f2f;
            color: #ffffff;
        }
        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

    </style>
</head>
<body>

<div class="container-fluid bg-3 text-center">
    <h1>HERE COMES OUR SOLUTION!!!</h1>
    <h3>TWITTER SENTIMENT ANALYSIS MADE OUR DECISION EASIER!!!</h3>
    <div class="row">
        <div class="col-sm-2">


        </div>

        <div class="col-sm-8">
            <p>This signals will tell us whether we should buy ,sell or retain BitCoins</p>
            <div>
                <a href="https://plot.ly/~sonijigar/12/?share_key=6NmGu04JB9QazCqPYS4CCJ" target="_blank" title="signal-buy-sell" style="display: block; text-align: center;"><img src="https://plot.ly/~sonijigar/12.png?share_key=6NmGu04JB9QazCqPYS4CCJ" alt="signal-buy-sell" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                <script data-plotly="sonijigar:12" sharekey-plotly="6NmGu04JB9QazCqPYS4CCJ" src="https://plot.ly/embed.js" async></script>
            </div>


        </div>
        <div class="col-sm-2">


        </div>



    </div>

</div>
<footer class="container-fluid bg-4 text-center">
    <p> sentiment analysis & price prediction done by Group 26</p>
</footer>

</body>
</html>

=======
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bitcoin price prediction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }
        p {font-size: 16px;}
        .margin {margin-bottom: 45px;}
        .bg-1 {
            background-color: darkslategray;
            color: #ffffff;

        }
        .bg-3 {
            background-color: black;
            color: darkgoldenrod;
        }
        .bg-4 {
            background-color: #2f2f2f;
            color: #ffffff;
        }
        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

    </style>
</head>
<body>

<div class="container-fluid bg-3 text-center">
    <h1>HERE COMES OUR SOLUTION!!!</h1>
    <h3>TWITTER SENTIMENT ANALYSIS MADE OUR DECISION EASIER!!!</h3>
    <div class="row">
        <div class="col-sm-2">


        </div>

        <div class="col-sm-8">
            <p>This signals will tell us whether we should buy ,sell or retain BitCoins</p>
            <div>
                <a href="https://plot.ly/~sonijigar/12/?share_key=6NmGu04JB9QazCqPYS4CCJ" target="_blank" title="signal-buy-sell" style="display: block; text-align: center;"><img src="https://plot.ly/~sonijigar/12.png?share_key=6NmGu04JB9QazCqPYS4CCJ" alt="signal-buy-sell" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                <script data-plotly="sonijigar:12" sharekey-plotly="6NmGu04JB9QazCqPYS4CCJ" src="https://plot.ly/embed.js" async></script>
            </div>


        </div>
        <div class="col-sm-2">


        </div>



    </div>

</div>
<footer class="container-fluid bg-4 text-center">
    <p> sentiment analysis & price prediction done by Group 26</p>
</footer>

</body>
</html>

