
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bitcoin price prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }
    p {font-size: 16px;}
    .margin {margin-bottom: 45px;}
    .bg-1 {
      background-color: darkslategray;
      color: #ffffff;

    }
    .bg-2 {
      background-color: cadetblue;
      color: #ffffff;
    }
    .bg-3 {
      background-color: black;
      color: darkgoldenrod;
    }
    .bg-4 {
      background-color: #2f2f2f;
      color: #ffffff;
    }
    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
      color: #1abc9c !important;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GROUP 26</a>
    </div>
    <form action = '/getGraph' method="get">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/getGraph'>WHAT IS BITCOIN</a></li>
        <li><a href='/getGraph'>CHECK OUT GRAPH</a></li>

      </ul>
    </div>
    </form>
  </div>
</nav>


<div class="container-fluid bg-1 text-center">
  <h1>What Is BitCoin?</h1>
  <p>Bitcoin is a cryptocurrency and worldwide payment system. It is the first decentralized digital currency – the system works without a central repository or single administrator.</p>
  <h3>SHOULD I BUY <b>BitCoin</b> ? SHOULD I NOT ?</h3>
  <img src="bird.jpg" class="img-responsive img-circle" style="display:inline" alt="Bitcoin" width="200" height="200">
  <h3>WHEN IS THE CORRECT TIME TO BUY?</h3>
</div>

<div class="container-fluid bg-3 text-center">
  <h1>WE HAVE A SOLUTION!!!</h1>
  <h3>TWITTER SENTIMENT ANALYSIS MAKES DECISION EASIER!!!</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><b>Graph showing the variation in prices of BitCoin with time.</b></p>
      <p></p>
      <div>
        <a href="https://plot.ly/~sonijigar/6/?share_key=YjZEZvNde6mWgrrzXsCHFK" target="_blank" title="bitcoin-prices" style="display: block; text-align: center;"><img src="https://plot.ly/~sonijigar/6.png?share_key=YjZEZvNde6mWgrrzXsCHFK" alt="bitcoin-prices" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="sonijigar:6" sharekey-plotly="YjZEZvNde6mWgrrzXsCHFK" src="https://plot.ly/embed.js" async></script>
      </div>

    </div>
    <div class="col-sm-6">
      <p><b>Graph showing the variation in twitter sentiments regarding BitCoin with time.</b></p>
      <div>
        <a href="https://plot.ly/~sonijigar/10/?share_key=9OHmPEsSwVbngBw2djjTmm" target="_blank" title="sentiment-with-peaks" style="display: block; text-align: center;"><img src="https://plot.ly/~sonijigar/10.png?share_key=9OHmPEsSwVbngBw2djjTmm" alt="sentiment-with-peaks" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="sonijigar:10" sharekey-plotly="9OHmPEsSwVbngBw2djjTmm" src="https://plot.ly/embed.js" async></script>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3">


      </div>
      <div class="col-sm-6">
        <p><b>This graph maps the variation of BitCoin prices with respect to the sentiment of people over time</b></p>
        <div>
          <a href="https://plot.ly/~sonijigar/8/?share_key=bsubAMrBXHt6QDRwBXxxh3" target="_blank" title="bitcoin-prices-sentiment" style="display: block; text-align: center;"><img src="https://plot.ly/~sonijigar/8.png?share_key=bsubAMrBXHt6QDRwBXxxh3" alt="bitcoin-prices-sentiment" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
          <script data-plotly="sonijigar:8" sharekey-plotly="bsubAMrBXHt6QDRwBXxxh3" src="https://plot.ly/embed.js" async></script>
        </div>


      </div>
      <div class="col-sm-3">


      </div>
    </div>


  </div>

</div>
<footer class="container-fluid bg-4 text-center">
  <p> sentiment analysis & price prediction done by Group 26</p>
</footer>

</body>
</html>

=======
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bitcoin price prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }
    p {font-size: 16px;}
    .margin {margin-bottom: 45px;}
    .bg-1 {
      background-color: darkslategray;
      color: #ffffff;

    }
    .bg-2 {
      background-color: cadetblue;
      color: #ffffff;
    }
    .bg-3 {
      background-color: black;
      color: darkgoldenrod;
    }
    .bg-4 {
      background-color: #2f2f2f;
      color: #ffffff;
    }
    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
      color: #1abc9c !important;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GROUP 26</a>
    </div>
    <form action = '/getGraph' method="get">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/getGraph'>WHAT IS BITCOIN</a></li>
        <li><a href='/getGraph'>CHECK OUT GRAPH</a></li>

      </ul>
    </div>
    </form>
  </div>
</nav>


<div class="container-fluid bg-1 text-center">
  <h1>What Is BitCoin?</h1>
  <p>Bitcoin is a cryptocurrency and worldwide payment system. It is the first decentralized digital currency – the system works without a central repository or single administrator.</p>
  <h3>SHOULD I BUY <b>BitCoin</b> ? SHOULD I NOT ?</h3>
  <img src="bird.jpg" class="img-responsive img-circle" style="display:inline" alt="Bitcoin" width="200" height="200">
  <h3>WHEN IS THE CORRECT TIME TO BUY?</h3>
</div>

<div class="container-fluid bg-3 text-center">
  <h1>WE HAVE A SOLUTION!!!</h1>
  <h3>TWITTER SENTIMENT ANALYSIS MAKES DECISION EASIER!!!</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><b>Graph showing the variation in prices of BitCoin with time.</b></p>
      <p></p>
      <div>
        <a href="https://plot.ly/~sonijigar/6/?share_key=YjZEZvNde6mWgrrzXsCHFK" target="_blank" title="bitcoin-prices" style="display: block; text-align: center;"><img src="https://plot.ly/~sonijigar/6.png?share_key=YjZEZvNde6mWgrrzXsCHFK" alt="bitcoin-prices" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="sonijigar:6" sharekey-plotly="YjZEZvNde6mWgrrzXsCHFK" src="https://plot.ly/embed.js" async></script>
      </div>

    </div>
    <div class="col-sm-6">
      <p><b>Graph showing the variation in twitter sentiments regarding BitCoin with time.</b></p>
      <div>
        <a href="https://plot.ly/~sonijigar/10/?share_key=9OHmPEsSwVbngBw2djjTmm" target="_blank" title="sentiment-with-peaks" style="display: block; text-align: center;"><img src="https://plot.ly/~sonijigar/10.png?share_key=9OHmPEsSwVbngBw2djjTmm" alt="sentiment-with-peaks" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="sonijigar:10" sharekey-plotly="9OHmPEsSwVbngBw2djjTmm" src="https://plot.ly/embed.js" async></script>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3">


      </div>
      <div class="col-sm-6">
        <p><b>This graph maps the variation of BitCoin prices with respect to the sentiment of people over time</b></p>
        <div>
          <a href="https://plot.ly/~sonijigar/8/?share_key=bsubAMrBXHt6QDRwBXxxh3" target="_blank" title="bitcoin-prices-sentiment" style="display: block; text-align: center;"><img src="https://plot.ly/~sonijigar/8.png?share_key=bsubAMrBXHt6QDRwBXxxh3" alt="bitcoin-prices-sentiment" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
          <script data-plotly="sonijigar:8" sharekey-plotly="bsubAMrBXHt6QDRwBXxxh3" src="https://plot.ly/embed.js" async></script>
        </div>


      </div>
      <div class="col-sm-3">


      </div>
    </div>


  </div>

</div>
<footer class="container-fluid bg-4 text-center">
  <p> sentiment analysis & price prediction done by Group 26</p>
</footer>

</body>
</html>

